@model _5TW.Models.DetailCollectionViewModel
@{
    ViewBag.Title = Model.CollectionName + " Products";
}
<link href="~/Content/marleyEffect.css" rel="stylesheet" />
<div class="navbar-collapse collapse" style="background-color:#cccccc; width: 100%">
    <ul class="nav navbar-nav">
        <li class="list-group-item-heading" style="margin-right: 100px; vertical-align:middle"><h4 style="font-family: 'Roboto'; font-size:24px; color: #428bca">@Model.CollectionName</h4></li>
    </ul>
</div>
<div class="container" style="background-color: #d9d0dd">
    @foreach (var item in Model.Products)
    {
        <div class="col-sm-6" style="top:10px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:10px;">
            <figure class="effect-marley">
                @{
                    var imgPaths = item.Picture.Split(';');
                }
                <img src="@imgPaths[0]" style="width: 100%; height: 400px;" />
                <figcaption>
                    <h2 style="color: #b21137">@item.Name</h2>
                    <p style="color: #b21137">
                        <b>
                            Collection: @item.Collection.CollectionName <br />
                            Size: @item.Size <br />
                            Price: @item.Price <br />
                            @Html.RouteLink("Details", new { action = "Details", controller = "Products", id= item.ProID })
                        </b>
                    </p>
                </figcaption>
            </figure>
        </div>
                    }
</div>
