
    <div class="navbar-collapse collapse" style="background-color:#cccccc; width: 100%">
        <ul class="nav navbar-nav" style="margin-left:350px;">
            <li >@Html.ActionLink("T-Shirt", "", "Home")</li>
            <li style="margin-left:50px;">@Html.ActionLink("LongSleeve", " ", "Home")</li>
            <li style="margin-left:50px;">@Html.ActionLink("Shirt", " ", "Home")</li>
            <li style="margin-left:50px;">@Html.ActionLink("Jackets", " ", "Home")</li>
        </ul>
    </div>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>Use this area to provide additional information.</p>
