@model _5TW.Models.Product
@{
    ViewBag.Title = "Details";
}
@{
    var imgPaths = Model.Picture.Split(';');
}

@{
    var stylesheets = "font-family:'roboto', sans-serif; color: white; border-radius: 5px; border-color:transparent; width:100px; height: 25px; line-height:2; ";
    if (Model.Status == 0)
    {
        stylesheets += "background-color: red";
    }
    else
    {
        stylesheets += "background-color: green";
    }
 }
<div>
    <div class="hero-text wrapper" style=" position:relative; margin-top:5px; color:#000000; font-family: 'Open Sans', sans-serif; display:flex;">
        <h1 class="headline" style="text-align:center; background:rgba(255,255,255,0.3); margin-left:25%;">@Html.DisplayFor(model => model.Name) </h1>
        <p style="@stylesheets">
           @Model.ProductStatu.StatusName
        </p>
        
    </div>
   
    <div class="item">
        <div class="col-sm-12">
            <div class="hero-text wrapper" style=" margin-top:5px; color:#000000; @*font-family: 'Open Sans', sans-serif;*@">
                @*<h1 class="headline" style="text-align:center; background:rgba(255,255,255,0.3); margin-left:25%; margin-right:25%;">@Html.DisplayFor(model => model.Name)</h1>*@
                <h2 class="subheadline" style="color:#ffffff; background:rgba(0,0,0,0.3); margin-left:25%; margin-right:25%;">Size: @Html.DisplayFor(model => model.Size)<br />
                    Price: @Html.DisplayFor(model => model.Price)<br />
                    
                </h2>
            </div>
        </div>
        <img src="@imgPaths[0]" alt="1" style="width: 100%; height:575px;">
    </div>
    <br />
    <div class="col-sm-12 jumbotron">
        <h1 style="text-align:center">@Model.Description</h1>
    </div>
    <div class="item" >
        <div class="col-sm-6">
            <img src="@imgPaths[1]" alt="2" style="width: 100%; height:575px;"/>
        </div>
        <div class="col-sm-6">
            <img src="@imgPaths[2]" alt="3" style="width: 100%; height:575px;"/>
        </div>
    </div>
    <hr />
</div>
<p>
    <input type="button" value="GO BACK" class="btn btn-primary"
           onclick="location.href='@Request.UrlReferrer'" />
</p>
